/* header */
header{
    background-color: #2C3E50;
}

header .container-fluid{
    background-color: #2C3E50;
}

.navbar-brand, .nav-link{
    color:white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show{
    color: orange;
}

/* corpo centrale */

/* section jumbo */
.backg-color{
    background-color: #1ABC9C;
    color: white;
}

.jumbo-img{
    width: 250px;
    margin: auto;
}

.jumbo-img img{
    width: 100%;
}

/* section portfolio */
.portfolio img{
    width: 100%;
    border-radius: 20px;
}

/* section contact me */
.contact input, .contact .text-area{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    margin-bottom: 30px;
}

.contact .text-area{
    width: 100%;
}

.contact .btn{
    background-color: #1ABC9C;
    margin-bottom: 50px;
}

/* section social */
.social{
    background-color: #3A546D;
    color: white;
    padding: 50px;
}

.social-green{
    color: #1ABC9C;
}

.social a{
    font-size: 30px;
    margin: 5px;
    text-decoration: none;
}

/* footer */
footer{
    background-color: #2C3E50;
    color: white;
}

.footer-row{
    margin: 50px;
}

section{
    padding: 30px 0;
}

/* stella */
.star{
    max-width: 300px;
    margin: 20px auto;
}

.star-line{
    width: 40%;
    display: inline-block;
    background-color: white;
    padding: 2px;
    margin-bottom: 10px;
}

.star-line.black{
    background-color: black;
}

.star i{
    font-size: 40px;
}